

DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"

AUTH_URL="https://nzelee.vercel.app"
AUTH_SECRET="XPkIRYf8F4RjAw7CP2SRWsd1onXgyO6+D7txtGousyq4llb4f6blZHtcJv0r+qk8jS6t/5elWWGyVHPzqWBgoA=="
AUTH_TRUST_HOST="true"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_APP_URL="https://nzelee.vercel.app"
NEXT_PUBLIC_API_URL="/api/v1"
CORS_ORIGIN="https://nzelee.vercel.app"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

NOTCHPAY_PUBLIC_KEY=""
NOTCHPAY_PRIVATE_KEY=""
NOTCHPAY_HASH_KEY=""
NOTCHPAY_ENDPOINT="https://api.notchpay.co"
